body {

    background-image: url("images/delta_mainbg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
	
	background-position: 0px 40px;
	
}

#logo {
	width: 216px;
	height: 86px;
	margin-top: -36px;
	margin-left: -30px;
}

#login_form {
	background-color:rgba(255, 255, 255, 0.7);
	margin: auto;
	margin-top: 11%;
    width: 300px;
	border-radius: 5px;
	padding: 20px;
	font-family: sans-serif;
}

#custom_word {
    margin-top: 5%;
    font-size: 85%;
}

#login_text {
    font-size: 80%;
}

#all_fields {
    font-size: 70%;
}

input[type=text], input[type=password] { 
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #14397D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #7EAEED;
    color: white;
}