
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='uber_style.css') }}">
	<title>Set-Up Uber Ride | Delta</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="jquery-1.12.4.min.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#flip").click(function(){
                $("#panel").slideDown("medium");
            });
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0klpkL-YhN2UdBitIX3Wlg8SENVhdahU&libraries=places&callback=initMapasyncdefer"></script>


</head>

<body>
	<img id = "logo" src="{{ url_for('static', filename='delta.png') }}">
	
	<img id = "uber" src = "{{ url_for('static', filename='lyft.png') }}"><br>
	
	<div class = "uber-form">
	
		<form action = "/search" method = "POST">
			Enter Pickup Location:<br>
			<input type = "text" value="{{ session['current_user'][0]['flights'][index]['destination'] }}" readonly><br>
			Enter Destination:<br>
			<input id="pac-input" name='destination' type="text" placeholder="To">
			
			<input type = "button" id = "flip" value = "Submit">
			
			<div id = "panel">
				<form action="/create_ride" method="POST">
					<input type="text" name="price" value="" readonly>
					<input type="text" name="origin" value="" readonly>
					<input type="text" name="destination" value="" readonly>
					<input type = "submit" id = "flip" value = "Request Lyft">
				</form>				
			</div>
		
		</form>
		
	</div>
	<a href={{login}}> log in</a>

</body>


